.center {
  text-align: center;
  padding: 8px;
}

.about {
  display: flex;
  width: 100vw;
  padding: 16px;
  &-image {
    width: 30%;
    justify-content: center;
    display: flex;
    height: 50vh;
  }

  &-detail {
    width: 60%;
    font-family: sans-serif;
    &-information {
      text-wrap: wrap;
    }
    &-contact {
      display: grid;
      padding-top: 8px;
      &-detail {
        display: flex;
        padding: 8px;
        span {
          margin-left: 8px;
          padding: 2px 0px;
          a {
            text-decoration: none;
            color: #000000;
            cursor: pointer;
          }
        }
      }
    }
  }
}

img {
  border-radius: 70%;
}
