<div class="about">
  <div class="about-image">
    <img src="assets/profile.jpg" alt="profile" />
  </div>
  <div class="about-detail">
    <h1>About Me</h1>
    <h4>Mutiara Ayu Rizky</h4>
    <span class="about-detail-information"
      >I'm a master's student in the Computer Science Department at Binus
      University.<br />
      I spent 6 years and 10 months of my professional life with coding and I'm
      very familiar with making and maintaining programs, design, and
      implementation services to interface for websites. I have experience for
      making and updating programs and projects that use Angular, React, Svelte,
      Javascript, CSS, HTML, Redux, Figma, Git, and Agile Development.
    </span>

    <div class="about-detail-contact">
      <span><strong>Contact Me:</strong></span>
      <div class="about-detail-contact-detail">
        <mat-icon> email</mat-icon>
        <span class="ml-2">{{ email }}</span>
      </div>
      <div class="about-detail-contact-detail">
        <mat-icon> contacts</mat-icon>
        <span> {{ phoneNumber }}</span>
      </div>
      <div class="about-detail-contact-detail">
        <mat-icon svgIcon="linkedin"></mat-icon>
        <span><a href="https://www.linkedin.com/in/mutiara-ayu-rizky-7bb3a511a/" target="_blank"> Mutiara Ayu Rizky</a> </span>
      </div>
    </div>
  </div>
</div>
