<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="menu-container" mode="side">
    <div class="menu">
      <a mat-button routerLink="/" [style.background]="currentActiveTab === 'home' ? '#378af9' : null" [style.color]="currentActiveTab === 'home' ? '#ffffff' : '#000000'"  (click)="change('home')">Home</a>
    </div>
    <div class="menu">
      <a mat-button routerLink="/about" [style.background]="currentActiveTab === 'about' ? '#378af9' : null" [style.color]="currentActiveTab === 'about' ? '#ffffff' : '#000000'" (click)="change('about')">About</a>
    </div>

  </mat-drawer>

  <div class="toolbar-menu">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">
      <img class="logo-image" src="assets/logo.png" alt="logo">
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

